@font-face {
  font-family: myFont;
  src: url(myFont.ttf);
}


#interface {
  height: 500px;
  width: 320px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #FFC83D;
  color: white;
  margin: 15px;
  padding: 30px;
}

.tile-front, .tile-back {
  height: 125px;
  width: 125px;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}

.tile-back {
  transform: rotateY(-180deg);
}

.tile {
  height: 125px;
  width: 125px;
}

.tile-content{
  height: 125px;
  width: 125px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  transition-delay: 0.1s;
}

.tile:hover .tile-content{
  transform: rotateY(180deg);
}

#tile-front-1, #tile-back-1 {
  background-color: #f07167;
}

#tile-front-2, #tile-back-2 {
  background-color: #00afb9;
}

#tile-front-3, #tile-back-3 {

  background-color: #fdfcdc;
}

#tile-front-4, #tile-back-4 {

  background-color: #fed9b7;
}

#tile-front-5, #tile-back-5 {
  background-color: #f07167;
}

#tile-front-6, #tile-back-6 {
  background-color: #bdd5ea;
}


#interface-description {
  height: 250px;
  width: 320px;
}

.interface-emoji {
  font-size: 5em;
}

#tile-with-check {
  color: black;
}




#hamburger {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: rgb(0,0,0,0.7);
  padding: 5px;
  z-index: 3000;
  display: none;
}

.line1, .line2, .line3 {
  width: 40px;
  height: 5px;
  margin: 10px;
  background-color: white;
}


#burger-menu {

  position: fixed;
  background-color: grey;
  left: 0px;
  top: 0px;
  padding: 120px 50px;
  z-index: 2000;
  display: none;
  height: 100vh;
  overflow-y: auto;
}

#burger-menu a {
  text-decoration: none;
  color: white;
  font-size: 2em;
  list-style: none;
}

#burger-menu li {
  list-style: none;
}


#card-front, #card-back {
  height: 500px;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  backface-visibility: hidden;
}

#card-back {
  transform: rotateY(-180deg);
  background-color: white;
}


#card-front {
  background-color: #FF4500;
  color: white;
}





#card {
  height: 500px;
  width: 320px!important;
  padding: 0px;
  margin: 15px;
}

#card-content {
  position: relative;
  height: 400px;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}



#card:hover #card-content {
  transform: rotateY(180deg);
}


.card-text {
  font-size: 1em;
  /*padding: 20px;*/
  text-align: justify;
  width: 80%;
  margin: 0px auto;
}


.card-emoji {
  font-size: 6.8em;
}











@font-face {
  font-family: stripes;
  src: url(halogen.otf);
}

@keyframes flicker-r {
  0% {color: white; text-shadow: 4px 4px 20px rgb(255,255,255,0.8);}
  79% {color: white; text-shadow: 4px 4px 20px rgb(255,255,255,0.8);}
  80% {color: grey; text-shadow: none;}
  82% {color: white; text-shadow: 4px 4px 20px rgb(255,255,255,0.8);}
  97% {color: white; text-shadow: 4px 4px 20px rgb(255,255,255,0.8);}
  99% {color:grey; text-shadow: none;}
  100% {color: white; text-shadow: 4px 4px 20px rgb(255,255,255,0.8);}
}

@keyframes flicker-4 {
  0% {color: red; text-shadow: 4px 4px 20px rgb(177, 22, 6);}
  9% {color: darkred; text-shadow: none;}
  11% {color: red; text-shadow: 4px 4px 20px rgb(177, 22, 6);}
  13% {color: darkred; text-shadow: none;}
  15% {color: red; text-shadow: 4px 4px 20px rgb(177, 22, 6);}
  70% {color: red; text-shadow: 4px 4px 20px rgb(177, 22, 6);}
  72% {color: darkred; text-shadow: none;}
  74% {color: red; text-shadow: 4px 4px 20px rgb(177, 22, 6);}
  100% {color: red; text-shadow: 4px 4px 20px rgb(177, 22, 6);}
}


body {
  background-image: url("../images/background-bricks.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  font-family: myFont;
}

.description-text {
  color: white;
  font-size: 1em;
  padding: 8px;
  text-align: justify;
}


h3 {
  color: white;
  padding: 8px;
}

h2 {
  font-family: stripes;
  font-size: 50pt;
  color: white;
  margin: 0;
  padding: 10px 0 0 0!important;
  text-shadow: 4px 4px 20px rgb(255,255,255,0.8);
}

.first-digit {
  color: red;
}

.second-digit {
  color: darkred;
}

.third-digit {
  color: red;
  animation-name: flicker-4;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.white-r {
  animation-name: flicker-r;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.first-digit, .second-digit, .third-digit {
  text-shadow: 4px 4px 20px rgb(177, 22, 6, 1);
}

.second-digit {
  text-shadow: none;
}


.home {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 60px;
  width: 60px;
  display: block;
  filter: invert(1);
}

.home:hover {
  transform: rotate(-45deg);
  transition: 500ms;
}

nav a {
  color: white;
  font-size: 1.5em;
}

a:hover {
  color: rgb(155, 131, 103);
  text-decoration: none;
  transition: 400ms;
}

nav {
  text-align: center;
  margin-bottom: 2vh;
}

.black-box {
  background-color: black;
  height: 500px;
  width: 320px;
  margin: 15px;
}



button:hover {
  animation: button-animation 0.5s linear;
}


/*


moving blobs

*************************************

*/

#blob1 {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  bottom: 10px;
  left: -1000px;
  animation: moving-blob1 12s linear infinite;
  color: black;
}

#blob2 {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: greenyellow;
  position: absolute;
  bottom: 200px;
  left: -1000px;
  animation: moving-blob2 12s linear infinite;
  color: white;
}

#blob3 {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: orangered;
  position: absolute;
  bottom: 150px;
  left: -1000px;
  animation: moving-blob3 12s linear infinite;
  color: white;
}

#blob4 {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: deepskyblue;
  position: absolute;
  bottom: 0px;
  left: -1000px;
  animation: moving-blob4 12s linear infinite;
  color: white;
}

#blob1, #blob2, #blob3, #blob4 {
  margin-top: 80px;
  text-align: center;
  font-size: 2em;
  font-family: myFont;
}

.blob-text {
  margin-top: 80px;
  font-size: 1em;
}

#blob-black-box {
  height: 500px;
  width: 320px;
  background-color: black;
  position: relative;
  padding-top: 100px;
  animation: blob-background 12s steps(1) infinite;
  border-shadow: 5px 5px black;
  margin: 15px;
}

#blob-white-box {
  height: 231px;
  width: 200px;
  background-color: white;
  position: relative;
  margin: -50px auto;
  overflow: hidden;
}



#rocket {
  font-size: 6em;
  position: absolute;
  bottom: -120px;
  left: 80px;
  transform: rotate(-45deg);
  animation: rocket-launch 4s ease-in-out infinite;
}

#space {
  height: 500px;
  width: 320px!important;
  background-image: linear-gradient(to bottom, black, darkblue);
  position: relative;
  overflow: hidden;
  margin: 15px;

}


#moon {
  position: absolute;
  right: 10px;
  top: 0px;
  transform: rotate(30deg);
  font-size: 4em;
}

#stars {
  font-size: 3em;
}


#wrapping-my-gallery {
  width: 320px;
  height: 500px;
  overflow: hidden;
  position: relative;
  margin: 15px 15px 0 15px;

}

.gallery-image {
  width: 320px;
  height: 240px;
  position: absolute;
}

#first-image {
  top: 0px;
  left: 0px;
  animation: test 12s infinite;
}

#second-image {
  top: 0px;
  left: 320px;
  animation: move-image2 12s infinite;
}

#third-image {
  top: 0px;
  left: 320px;
  animation: move-image3 12s infinite;
}

#fourth-image {
  top: 0px;
  left: 320px;
  animation: move-image4 12s infinite;
}

#gallery-description {
  position: absolute;
  top: 240px;
  width: 320px;
  height: 260px;
  padding: 15px;
  background-color: #00BFFF;

}


@media (min-width: 1px) {

  p, nav li {
    font-size: 1.5em;
  }
  nav li, .home {
    display: none;
  }
  #hamburger {
    display: block;
  }
}


@media (min-width: 1151px) {
  p, nav li {
    font-size: 1.2em;
  }
  nav li, .home {
  display: block;
  }
  #hamburger {
    display: none;
  }
}


@keyframes rocket-launch {
  0% {bottom: -120px; left: 80px;}
  5% {bottom: -119px; left: 81px; transform: rotate(-39deg)}
  10% {bottom: -118px; left: 79px; transform: rotate(-51deg)}
  15% {bottom: -117px; left: 81px; transform: rotate(-50deg)}
  20% {bottom: -115px; left: 79px; transform: rotate(-40deg)}
  25% {bottom: -105px; left: 81px; transform: rotate(-46deg)}
  30% {bottom: -90px; left: 79px; transform: rotate(-44deg)}
  100% {bottom: 600px;}
}

@keyframes button-animation {
  0% {background-image: linear-gradient(to right, darkred, darkred, darkred, darkred, darkred);}
  10% {background-image: linear-gradient(to right, darkred, darkred, darkred, darkred, red); transform: scale(1.2);}
  20% {background-image: linear-gradient(to right, darkred, darkred, darkred, red, orange);}
  30% {background-image: linear-gradient(to right, darkred, darkred, red, orange, yellow);}
  40% {background-image: linear-gradient(to right, darkred, red, orange, yellow, lightyellow);}
  50% {background-image: linear-gradient(to right, red, orange, yellow, lightyellow, lightyellow);}
  60% {background-image: linear-gradient(to right, orange, yellow, lightyellow, lightyellow, lightyellow);}
  70% {background-image: linear-gradient(to right, yellow, lightyellow, lightyellow, lightyellow, lightyellow);}
  80% {background-image: linear-gradient(to right, lightyellow, lightyellow, lightyellow, lightyellow, lightyellow);}
}


@keyframes moving-blob1 {
  0% { bottom: 10px; left: -200px; color: black;}
  5% {bottom: 20px; left: 0px;color: white;}
  10% {bottom: 40px; left: 50px;}
  15% {bottom: 55px; left: 100px; color: white;}
  20% {bottom: 60px; left: 150px;}
  25% {bottom: 50px; left: 200px;}
  100% {left: 200px;}
}

@keyframes moving-blob2 {
  25% {left: -200px; bottom: 50px;}
  30% {bottom: 60px; left: 20px; color: white;}
  35% {bottom: 61px; left: 60px; color: greenyellow;}
  40% {bottom: 62px; left: 120px;color: white;}
  45% {bottom: 64px; left: 160px; color: greenyellow;}
  50% {bottom: 60px; left: 200px;}
  100% {left: 200px;}
}

@keyframes moving-blob3 {
  50% {left: -200px;bottom: 120px;}
  55% {bottom: 110px; left: 0px; color: white;}
  60% {bottom: 110px; left: 50px; color: orangered;}
  65% {bottom: 100px; left: 100px;color: white;}
  70% {bottom: 80px; left: 150px; color: orangered;}
  75% {bottom: 75px; left: 200px;}
  100% {left: 200px;}
}

@keyframes moving-blob4 {
  75% {left: -200px;bottom: 0px;}
  80% {bottom: 10px; left: 0px; color: white;}
  85% {bottom: 30px; left: 50px; color: deepskyblue;}
  90% {bottom: 50px; left: 100px;color: white;}
  95% {bottom: 70px; left: 150px; color: deepskyblue;}
  100% {bottom: 90px; left: 200px;}
  100% {left: 200px;}
}

@keyframes blob-background {
  0% {background-color: black;}
  24% {background-color: black;}
  25% {background-color: greenyellow;}
  49% {background-color: greenyellow;}
  50% {background-color: orangered;}
  74% {background-color: orangered;}
  75% {background-color: deepskyblue;}
  99% {background-color: deepskyblue;}
  100% {background-color: black;}
  }





@keyframes move-image2 {
  0% {left: 320px;}
  25% {left: 0px;}
  50% {left: -320px; top: 0px;}
  51% {top: -1000px;}
  52% {left: 320px;}
  100% {left: 320px;}
}

@keyframes move-image3 {
  25% {left: 320px;}
  50% {left: 0px;}
  75% {left: -320px; top: 0px;}
  76% {top: -1000px;}
  77% {left: 320px; top: 0px;}
}

@keyframes move-image4 {
  0% {top: -1000px;}
  1% {left: -320px;}
  49% {left: 320px; top: -1000px;}
  50% {left: 320px; top: 0px;}
  75% {left: 0px; top: 0px;}
  100% {left: -320px;}
}


@keyframes test {
  0% {left: 0px;}
  25% {left: -320px; top: 0%;}
  26% {top: -1000px;}
  27% {left: 320px; top: -1000px;}
  30% {top: 0px;}
  75% {left: 320px;}
  100% {left: 0px;}
}

/*
____________________________________________________________

*/
