body {
    background: black;
    color: white;
    font-family: Roboto, serif;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#jumping-mario-animation {
    position: relative;
    height: 150px;
    width: 150px;
    background-color: black;
}

#jumping-box {
    height: 50px;
    width: 50px;
    position: absolute;
    bottom: 0;
    left: 50px;
    overflow: hidden;
}

#jumping-mario {
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 150px;
}

#question-block {
    top: 7px;
    position: absolute;
    left: 50px;
    width: 50px;
}