body {
  background-image: url("../images/background2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

nav a {
  color: white;
}

nav {
  background-color: rgb(41, 41, 41, 0.8);
}

.blog-content {
  height: auto;
  width: 80%;
  margin: 20px;
  padding: 1%;
}

.blog-image {
  width: 100%;
  height: auto;
}

.input-field {
  width: 200px;
  padding: 0px;
  height: 30px;
  margin-bottom: 5px;
  color: black;
  background-color: white;
  border-style: none;
}

.input-field2 {
  width: 200px;
  padding: 0px;
  height: 110px!important;
  margin-bottom: 6px;
  color: black;
  background-color: white;
  display: inline-block;
  padding-top: 5px;
}

.radio-btn {
  margin: 0 10px;
}


.radio-emoji {
  font-size: 1.25em!important;
}

.radio-head {
  font-size: 0.9em!important;
}


article {
  background-color: rgb(41, 41, 41,0.9);
  margin-top: 5px;
  padding: 20px;
  color: white;
  position: relative;
}

p {
  width: 90%;
  font-size: 1.1em;
}

.blog-line {
  background-image: linear-gradient(to right, red, orange);
  display: block!important;
  height: 2px;
  opacity: 0.6;
}

span {
  font-size: 1.1em;
}
option {
  font-size: 1.2em;
}

textarea {
  width: 404px;
  border-style: none;
}

#input-form {
  background-color: rgb(41, 41, 41,0.9);
  padding: 20px;
  width: 100%;
  color: white;
  margin-top: 5px;
}


h4 {
  padding: 20px;
}

@media (max-width: 625px){
  textarea{
    width: 200px;
  }
}

.banner {
  background-image: url("../images/blog-banner.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 300px;
  color: white;
  padding: 10px;

}

.weather-icon {
  width: 200px;
  margin: -30px;
}


button {
  margin: 10px;
}



.delete-button {
  border-style: none;
  background-color: black;
  opacity: 0.9;
  position: absolute;
  right: 0px;
  top: 0px;
  border-radius: 25%;
}

#plane-emoji{
  position: absolute;
  bottom: -100px;
  left: 0px;
  animation: plane-launch 4s ease-in-out;
  font-size: 4em;
  transform: rotate(45deg);
}

footer {
  background-color: rgb(41, 41, 41, 0.9);
}

.home {
  filter: invert(1);
}
#burger-menu {
  background-color: rgb(41, 41, 41, 0.9);
}










@keyframes plane-launch{
    0% {bottom: 0px; left: -60px;}
    100% {bottom: 50px; left: 780px;}
}
