body {
  background-image: url("../images/background2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

nav a {
  color: white;
}

nav {
  background-color: rgb(41, 41, 41, 0.8);
}

footer {
  background-color: rgb(41, 41, 41, 0.9);
}

.home {
  filter: invert(1);
}

#burger-menu {
  background-color: rgb(41, 41, 41, 0.9);
}

.mood, .transport {
  font-size: 1.2em;
}

.blog-content {
  height: auto;
  width: 100%;
  margin: 20px 0px;
  padding: 1%;
}

.blog-image {
  width: 100%;
  height: auto;
}

.blog-line {
  background-image: linear-gradient(to right, #00ABC9, paleturquoise);
  display: block!important;
  height: 2px;
  opacity: 0.6;
}

article {
  background-color: rgb(41, 41, 41,0.9);
  margin-top: 5px;
  padding: 20px;
  color: white;
  position: relative;
}

p {
  width: 90%;
  font-size: 1.1em;
}

span {
  font-size: 1.1em;
}

h3 {
  padding: 20px;
}

.banner {
  background-image: url("../images/blog-banner.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 300px;
  color: white;
  padding: 10px;

}

.weather-icon {
  width: 200px;
  margin: -30px;
}


.input-field {
  width: 300px;
  padding: 0px;
  height: 30px;
  margin-bottom: 5px;
  color: black;
  background-color: white;
  border-style: none;
}

.input-field2 {
  width: 300px;
  padding: 0px;
  height: 110px!important;
  margin-bottom: 6px;
  color: black;
  background-color: white;
  display: inline-block;
  padding-top: 5px;
}

.radio-btn {
  margin: 0 15px;
}


.radio-emoji {
  font-size: 1.25em;
  margin: 0 5px;
}

.radio-head {
  font-size: 0.9em!important;
}

option {
  font-size: 1.2em;
}

textarea {
  width: 604px;
  border-style: none;
}

#input-form {
  background-color: rgb(41, 41, 41,0.9);
  padding: 20px;
  width: 100%;
  color: white;
  margin-top: 5px;
}

#submit-button {
  background-image: linear-gradient(to right, #00ABC9, paleturquoise);
  color: white;
  border-style: none;
  border-radius: 25px;
  padding: 10px;
  width: 200px;
  font-size: 1.2em;
  margin: 10px;
}

#submit-button:hover {
  animation: button-animation 0.8s linear;
}


.edit-icon{
  height: 20px;
  //filter: invert(50%);
  margin-bottom: 10px;
}

.edit-icon:hover {
  transform: scale(1.5);
}

.edit-button {
  border-style: none;
  background-color: white;
  opacity: 0.9;
  border-radius: 25%;
  position: absolute;
  /*right: 5px;
  top: 45px;*/
  height: 30px;
  width: 40px;
  bottom: 10px;
  right: 10px;
}

.edit-button:hover {
  background-color: beige;
  transform: scale(1.2);
}

.edit-save-button{
  border-style: none;
  background-color: white;
  opacity: 0.9;
  border-radius: 25%;
  position: absolute;
  /*right: 5px;
  top: 85px;*/
  height: 30px;
  width: 40px;
  bottom: 10px;
  right: 55px;
}

.edit-save-button:hover {
  background-color: beige;
  transform: scale(1.2);
}

.delete-button {
  border-style: none;
  background-color: white;
  opacity: 0.9;
  position: absolute;
  /*right: 5px;
  top: 5px;*/
  border-radius: 25%;
  height: 30px;
  width: 40px;
  bottom: 10px;
  right: 100px;
}

.delete-button:hover {
  background-color: beige;
  transform: scale(1.2);
}



.image-link {
  display: none;
}

@media (max-width: 842px){
  textarea{
    width: 300px;
  }
}

@media (hover: none) and (pointer: coarse) {
  .radio-emoji {
    font-size: 1.5em!important;
    margin: 0 8px;
  }
  .radio-btn {
    margin: 0 18px;
  }
}





#plane-emoji{
  position: absolute;
  bottom: -100px;
  left: 0px;
  animation: plane-launch 4s ease-in-out;
  font-size: 4em;
  transform: rotate(45deg);
}

@keyframes plane-launch{
    0% {bottom: 0px; left: -60px;}
    100% {bottom: 50px; left: 880px;}
}


@keyframes button-animation {
  0% {background-image: linear-gradient(to right, darkred, darkred, darkred, darkred, darkred);}
  10% {background-image: linear-gradient(to right, darkred, darkred, darkred, darkred, red); transform: scale(1.2);}
  20% {background-image: linear-gradient(to right, darkred, darkred, darkred, red, orange);}
  30% {background-image: linear-gradient(to right, darkred, darkred, red, orange, yellow);}
  40% {background-image: linear-gradient(to right, darkred, red, orange, yellow, lightyellow);}
  50% {background-image: linear-gradient(to right, red, orange, yellow, lightyellow, lightyellow);}
  60% {background-image: linear-gradient(to right, orange, yellow, lightyellow, lightyellow, lightyellow);}
  70% {background-image: linear-gradient(to right, yellow, lightyellow, lightyellow, lightyellow, lightyellow);}
  80% {background-image: linear-gradient(to right, lightyellow, lightyellow, lightyellow, lightyellow, lightyellow);}
}
