html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

*, ::after, ::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}

img {
  vertical-align: middle;
  border-style: none;
}

a {
    text-decoration: none;
    background-color: transparent;
}

button {
    margin: 0;
    font-size: inherit
}

header {
    line-height: 1.5;
}

h1, h2 {
    margin: 0.5rem 0;
    line-height: 1.2;
}

.w-100 { width: 100% !important; }
.h-100 { height: 100% !important; }
.position-relative { position: relative !important; }
.d-block { display: block !important; }

.m-0 { margin: 0 !important; }
.mx-0 { margin-left: 0 !important; margin-right: 0 !important; }
.mb-5 { margin-bottom: 3rem !important; }

.py-0 { padding-top: 0 !important; padding-bottom: 0 !important; }
.px-3 { padding-left: 1rem !important; padding-right: 1rem !important; }
.pt-5 { padding-top: 3rem !important; }

.text-center { text-align: center !important; }
.text-black { color: #000 !important; }
.text-dark { color: #343a40 !important; }
.bg-transparent { background-color: transparent !important; }