@font-face {
  font-family: myFont;
  src: url(myFont.ttf);
}

.cv-hover, .cv-hover2 {
  display: none;
}


body {
  background-image: url("../images/background-bricks.jpg");
  background-size: cover;
  font-family: myFont;
  background-attachment: fixed;
}


nav a {
  color: white;
  font-size: 1.5em;
}

a:hover {
  color: rgb(155, 131, 103);
  text-decoration: none;
  transition: 400ms;
}

nav {
  text-align: center;
  margin-bottom: 5vh;
}

footer {
  background-color: black;
  margin-top: 20vh;
  width: 100%;
  color: white;
  text-align: center;
  padding: 20px;
}

footer a {
  text-decoration: none;
  color: white;
  list-style: none;
}

footer li {
  list-style: none;
}

.social-icon {
  height: 3em;
  width: auto;
  filter: invert(1);
  padding: 10px;
}

.cv-col {
  background-color: white;
  padding: 38px;
  margin: 10px 7px;
  color: black;
  border: 1px solid grey;
  position: relative;
  z-index: 0;
}

li {
  list-style: none;
}

.cv-hover li, .cv-hover2 li {
  list-style-type: disc;
}

#cv-active {
  color: rgb(155, 131, 103);
}

.home {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 60px;
  width: 60px;
  filter: invert(1);
}

.home:hover {
  transform: rotate(-45deg);
  transition: 500ms;
}


.cv-icon {
  height: 70px;
  width: 70px;
  float: left;
}

ul {
  margin: 0px;
}

.cv-hover li, .cv-hover2 li {
  margin-left: 110px;
}




@media (min-width: 1px) {
  .cv-col li {
    font-size: 1em;
  }
}

@media (min-width: 1000px) {
  .cv-col li {
    font-size: 1em;
}
}


@media (max-width: 500px){
  span, article {
    margin-left: 10px;
  }
}

@media (min-width: 501px){
  span, article {
    margin-left: 80px;
    }

}

@media (max-width: 500px){
	.cv-hover, .cv-hover2 {
	display: block;
}
}

@media (max-width: 500px){
	.cv-hover, .cv-hover2 {
	display: block;
}
}

@media (min-width: 501px){
	.cv-show:hover .cv-hover {
  display: block;
  position: absolute;
  background: white;
  padding-right: 15%;
  padding-bottom: 6%;
  border-bottom: 1px solid grey;
  width: 89%;
	}
}

@media (max-width: 500px){
  .cv-hover li, .cv-hover2 li {
    margin-left: 40px;
  }
  }


hr {
  border: 0.2px solid dimgrey;
}

.row, .justify-content-center {
  margin-right: 0px;
  margin-left: 0px;
}

#hamburger {
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: rgb(0,0,0,0.7);
  padding: 5px;
  z-index: 3000;
  display: none;
  border-style: none;
}

.line1, .line2, .line3 {
  width: 40px;
  height: 5px;
  margin: 10px;
  background-color: white;
}


#burger-menu {

  position: fixed;
  background-color: #2f2f2f;
  opacity: 0.99;
  left: 0px;
  top: 0px;
  padding: 120px 50px;
  z-index: 2000;
  display: none;
  height: 100vh;
  overflow-y: auto;
}

#burger-menu hr {
  background-color: white;
}

#burger-menu a {
  text-decoration: none;
  color: white;
  font-size: 1.3em;
  list-style: none;
}

#burger-menu li {
  list-style: none;
}

#fname, #lname, #company, #message, #email {
  padding: 10px;
}


@media (min-width: 1000px) {
  p, nav li {
    font-size: 1em;
}
}

@media (min-width: 1px) {

  nav li, .home {
    display: none;
  }
  #hamburger {
    display: block;
  }
}



@media (min-width: 1300px) {
  p, nav li {
    font-size: 1.2em;
  }
  nav li, .home {
  display: block;
  }
  #hamburger {
    display: none;
  }
  #cookies {
    width: 80%;
    height: 40%;
    left: 10%;
  }
}
