@font-face {
  font-family: myFont;
  src: url(myFont.ttf);
}


#card-front, #card-back {
  height: 360px;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden
}

#card-back {
  transform: rotateY(-180deg);
  background-color: #FF4500;
}


#card-front {
  background-color: black;
  color: white;
}





#card {
  height: 360px;
  width: 320px!important;
  padding: 0px;
  margin: 10px;
}

#card-content {
  position: relative;
  height: 300px;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}



#card:hover #card-content {
  transform: rotateY(180deg);
}



.card-emoji {
  font-size: 6.8em;
}


.description-text {
  color: white;
  font-size: 1em;
  padding: 8px;
  text-align: justify;
}


h4 {
  color: white;
}



.black-box {
  background-color: black;
  height: 360px;
  width: 320px;
  margin: 10px;
}







#wrapping-my-gallery {
  width: 320px;
  height: 500px;
  overflow: hidden;
  position: relative;
  margin: 10px;

}

.gallery-image {
  width: 320px;
  height: 240px;
  position: absolute;
}

#first-image {
  top: 0px;
  left: 0px;
  animation: test 12s infinite;
}

#second-image {
  top: 0px;
  left: 320px;
  animation: move-image2 12s infinite;
}

#third-image {
  top: 0px;
  left: 320px;
  animation: move-image3 12s infinite;
}

#fourth-image {
  top: 0px;
  left: 320px;
  animation: move-image4 12s infinite;
}

#gallery-description {
  position: absolute;
  top: 210px;
  width: 320px;
  height: 150px;
  background-color: black;

}


.demo-div {
  width: 320px;
  height: 360px;
  background-color: black;
  color: white;
  position: relative;
  margin: 10px;
}

.api-text {
  font-size: 1.1em;
  text-align: center;
  color: black;
}

.api-description {
  font-size: 1em;
  text-align: center;
}

.highlight {
  position: absolute;
  font-weight: bolder;
  padding: 10px;
  background-color: white;
  top: 40px;
  left: 0px;
  width: 100%;
}


.letter-box{
  width: 30px;
  font-size: 1.2em;
}

#guess-button {
  display: none;
  position: absolute;
  left: 110px;
  top: 150px;
}

#hint {
  width: 100%;
  height: 15%;
  background-color: white;
  color: black;
}

#random-button {
  position: absolute;
  top: 150px;
  left: 110px;
}

#tries-left {
  position: absolute;
  right: 10px;
  top: 97px;
}


#pacman-container {
  overflow: hidden;
};



.pac-image{
  width: 40px;
  height: 40px;
}

#pacman {
  position: absolute;
  top: 110px;
  left: 0px;
  height: 40px;
  width: 40px;
}



#pallet-1 {
  position: absolute;
  top: 110px;
  left: 30px;
}

#pallet-2 {
  position: absolute;
  top: 110px;
  left: 70px;
}

#pallet-3 {
  position: absolute;
  top: 110px;
  left: 110px;
}

#pallet-4 {
  position: absolute;
  top: 110px;
  left: 150px;
}

#pallet-5 {
  position: absolute;
  top: 110px;
  left: 190px;
}

#pallet-6 {
  position: absolute;
  top: 110px;
  left: 230px;
}

#pallet-7 {
  position: absolute;
  top: 110px;
  left: 270px;
}


#results-demo {
  height: 100px;
  background-image: linear-gradient(to right, rgb(29, 29, 148), rgb(190, 12, 12));
  overflow: hidden;
  position: relative;
  width: 160px;

}


#option-a, #option-b {
  width: 50px;
  height: 100px;
  display: inline-block;
  position: absolute;
}

#option-a {
  background-color: blue;
  top: 100px;
  left: 20px;
}

#option-b {
  background-color: red;
  top: 100px;
  left: 90px;
}

#majority-line {
  position: absolute;
  top: 34px;
  width: 100%;
  border: 1px solid orange;
  background-color: orange;
}

#results-input {
  display: inline-block;
}

.result-input{
  margin: 0 5px;
}








.reactionBTN {
  height: 50px;
  width: 50px;
  margin: 20px;
  background-color: darkgrey;
  border-style: none;
  border-radius: 50%;
}

#random-game {
  display: none;
}

#random-text {
  display: none;
  color: white;
}

#scoreboard {
  font-size: 2em;
}

#marios-box {
  width: 200px;
  height: 160px;
  overflow: hidden;
  position: relative;
  background-color: white;
}

#mario {
  width: 600px;
  position: absolute;
  left: -2px;
  bottom: -25px;
  z-index: 1;
}

#mario-background {
  position: absolute;
  left: -400px;
  bottom: 0px;
  z-index: 0;
  width: 600px;
}

#mario-animation {
  padding: 2px;
}



#jumping-mario-animation {
  position: relative;
  height: 150px;
  width: 150px;
  background-color: black;
}

#jumping-box {
  height: 50px;
  width: 50px;
  position: absolute;
  bottom: 0px;
  left: 50px;
  overflow: hidden;
}

#jumping-mario {
  position: absolute;
  left: 0px;
  bottom: -3px;
  width: 150px;
}

#question-block {
  top: 7px;
  position: absolute;
  left: 50px;
  width: 50px;
}











@keyframes move-image2 {
  0% {left: 320px;}
  25% {left: 0px;}
  50% {left: -320px; top: 0px;}
  51% {top: -1000px;}
  52% {left: 320px;}
  100% {left: 320px;}
}

@keyframes move-image3 {
  25% {left: 320px;}
  50% {left: 0px;}
  75% {left: -320px; top: 0px;}
  76% {top: -1000px;}
  77% {left: 320px; top: 0px;}
}

@keyframes move-image4 {
  0% {top: -1000px;}
  1% {left: -320px;}
  49% {left: 320px; top: -1000px;}
  50% {left: 320px; top: 0px;}
  75% {left: 0px; top: 0px;}
  100% {left: -320px;}
}


@keyframes test {
  0% {left: 0px;}
  25% {left: -320px; top: 0%;}
  26% {top: -1000px;}
  27% {left: 320px; top: -1000px;}
  30% {top: 0px;}
  75% {left: 320px;}
  100% {left: 0px;}
}

