@font-face {
    font-family: myFont;
    src: url("../assets/fonts/myFont.ttf");
    }

    * {
        color:white;
        font-family: myFont, serif;
    }

    body {
        background: linear-gradient(to right, #6441a5, #2a0845);
        margin: 0;

    }

    select {
        color: black;
        height:28px;
        font-size: 16px;
        text-align: center;
        vertical-align: middle;
        border: 0;
    }

    option {
        color: black;
    }

    #color-select {
        width: 36px;
        height: 40px;
        background-color: transparent;
        border: 0;
    }

    img {
        width: 30px;
        height: 30px;
        vertical-align: middle;
    }

    #rainbow-img {
        width: 40px;
        height: 40px;
        opacity: 0.3;
        transition: 0.3s;
    }

    #save-img {
        width: 28px;
        height: 28px;
        
    }

    #delete-img {
        margin-right: 8px;
    }

    #erase-img {
        opacity: 0.3;
        transition: 0.3s;
    }


    input {
        vertical-align: middle;
        margin-left: 8px;
        border-radius: 50%;
    }

    div div{
        display: inline-block;
    }

    button {
        background-color: transparent;
        border: 0;
    }

    #wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    #UI {
        margin: 16px auto 0;
        width: 400px; 
        display: flex; 
        flex-direction: row; 
        justify-content: space-between; 
        align-items: baseline; 
        background-color: white; 
        padding: 10px 0;
        border-radius: 8px;
    } 

    canvas {
        display: block;
        border-radius: 8px;
    }

    #portrait-mode-message {
        display: none;
    }

    @media (max-width: 550px){
        #UI {
            width: 100vw;
            left: 0;
            position: fixed;
            bottom: 0;
            right: 0;
            border-radius: 0;
        }
    }

    @media (orientation: landscape) and (max-width: 800px) {
        canvas, #UI {
            display: none;
        }

        #portrait-mode-message {
            display: block;
        }
    }
