/***********/
/* globals */
/***********/

@font-face {
	font-family: Ubuntu;
	src: url('../assets/fonts/Ubuntu-M.ttf');
}

:root {
	--main-background-color: #fafeff;
	--intro-font-color: rgb(148, 163, 184);
	--highlight-color: rgb(94, 234, 212);
	--blue-font-color: #143a5d;
	--coral-font-color: #f73163;
	--max-container-width: 600px;
}

/**************/
/* css reboot */
/**************/

html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

*,
::after,
::before {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: left;
}

img {
	vertical-align: middle;
	border-style: none;
}

a {
	text-decoration: none;
	background-color: transparent;
}

button {
	margin: 0;
	font-size: inherit;
}

header {
	line-height: 1.5;
}

h1,
h2 {
	margin: 8px 0;
	line-height: 1.2;
}

header {
	position: absolute;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: center;
}

body {
	font-family: Roboto, serif;
}

button:focus {
	outline: none;
}

button:focus-visible,
a:focus-visible {
	outline: 4px solid blue !important;
}

ul {
	padding-inline-start: 16px;
}

h1 {
	color: white;
	text-align: center;
	text-shadow: 4px 4px rgba(0, 0, 0, 0.4);
}

h2 {
	font-size: 2em;
	font-family: 'Ubuntu', serif;
}

h3 {
	font-size: 1.5em;
}

.blue-font {
	color: var(--blue-font-color);
}

.coral-font {
	color: var(--coral-font-color);
}

.w-100 {
	width: 100% !important;
}
.h-100 {
	height: 100% !important;
}
.position-relative {
	position: relative !important;
}

.mx-0 {
	margin-left: 0 !important;
	margin-right: 0 !important;
}
.mb-5 {
	margin-bottom: 48px !important;
}

.px-3 {
	padding-left: 16px !important;
	padding-right: 16px !important;
}
.pt-5 {
	padding-top: 48px !important;
}

.text-dark {
	color: #343a40 !important;
}

.screenshot-box-shadow {
	box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}

/*********/
/* intro */
/*********/

#intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Ubuntu', serif;
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
	min-height: 950px;
	max-width: 100vw;
	background: radial-gradient(
		circle,
		rgba(15, 23, 42, 1) 0%,
		rgba(1, 4, 10, 1) 50%,
		rgba(10, 5, 10, 1) 100%
	);
	h1 {
		opacity: 0;
		animation: show-title-animation 2s ease-out;
		animation-fill-mode: forwards;
		animation-delay: 0.5s;
		text-align: left;
	}
}

.intro-list-wrapper {
	background: rgba(10, 10, 10, 0.1);
	backdrop-filter: blur(24px);
	margin-top: 32px;
	padding: 16px;
	border: 4px solid var(--highlight-color);
	border-radius: 16px;
}

.intro-bulletpoints {
	margin: 0;
	padding-inline-start: 16px;
	li {
		font-size: 20px;
		color: var(--intro-font-color);
		margin-bottom: 8px;
	}
}

.intro-bulletpoints li::marker {
	color: var(--highlight-color);
}

#intro h2 {
	animation-delay: 1.5s;
	color: var(--intro-font-color);
}

.intro-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	z-index: 1;
}

.intro-content * {
	color: white;
	max-width: 590px;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
}

.intro-content p {
	color: var(--intro-font-color);
}

.intro-content-wrapper {
	display: flex;
	flex-direction: column-reverse;
	gap: 32px;
	margin: 0 16px;
}

.profile-picture {
	width: 200px;
	border-radius: 50%;
	margin: 0 auto 16px;
}

/***************/
/* tab content */
/***************/

.toggle-container {
	position: sticky;
	top: 16px;
	display: flex;
	justify-content: center;
	margin: 48px 16px;
	z-index: 10;
	box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}

.toggle-switch {
	position: relative;
	display: flex;
	background: rgba(15, 23, 42, 1);
	padding: 4px;
	border-radius: 12px;
	width: 100%;
	max-width: var(--max-container-width);
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.nav-slider {
	position: absolute;
	top: 4px;
	left: 4px;
	height: calc(100% - 8px);
	width: calc(33.33% - 3px);
	background: var(--highlight-color);
	border-radius: 8px;
	transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
	z-index: 0;
	transform: translateX(0%);
}

.toggle-btn {
	position: relative;
	flex: 1;
	padding: 12px;
	border: none;
	background: none;
	color: var(--highlight-color);
	cursor: pointer;
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	z-index: 1;
	transition: color 0.3s;
}

.toggle-btn.active {
	color: black;
}

.tab-headline {
	margin: 48px 0;
}

.tab-content {
	scroll-margin-top: 128px;
	margin: 64px 16px;
}

.tab-content.hidden {
	display: none;
}

.icons-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
	gap: 12px;
	max-width: 600px;
}

footer {
	text-align: center;
	padding: 8px;
}

.footer-icon,
.footer-icon a {
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer-icons-wrapper {
	display: flex;
	justify-content: center;
	gap: 24px;
	flex-wrap: wrap;
	margin: 32px auto;
	padding: 16px;
}

.xing-icon {
	color: #046064;
}

/**************/
/* navigation */
/**************/

.menu-btn {
	height: 32px;
	width: 40px;
	cursor: pointer;
}

.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
	background: var(--highlight-color);
	border-radius: 3px;
	content: '';
	position: absolute;
	width: 40px;
	height: 6px;
	margin-top: 13px;

	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}

.menu-btn span::before {
	margin-top: -12px;
}

.menu-btn span::after {
	margin-top: 12px;
}

.menu-btn.active span {
	background: transparent;
}

.menu-btn.active span::before {
	margin-top: 0;

	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.menu-btn.active span::after {
	margin-top: 0;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.sidebar-wrapper {
	width: 100%;
	max-width: var(--max-container-width);
	margin: 0 auto;
	position: relative;
}

.sidebar {
	transition: all 0.6s ease-in-out;
	opacity: 1;
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100vh;
	background: radial-gradient(
		circle,
		rgba(15, 23, 42, 1) 0%,
		rgba(1, 4, 10, 1) 50%,
		rgba(10, 5, 10, 1) 100%
	);
	color: #fff;
	overflow: hidden;
	z-index: 2500;
	overflow-y: auto;
	font-family: 'Ubuntu', serif !important;
}

.sidebar[data-show='false'] {
	top: -50vh;
	opacity: 0;
	pointer-events: none;
}

.sidebar h4 {
	text-align: center;
	font-size: 24px;
	color: var(--highlight-color);
	padding: 0 0 24px;
	margin: 0;
	font-weight: bolder;
	text-transform: uppercase;
}

.level1,
.level2 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 100px 0;
	transition: transform 0.3s ease-in-out;
	background: inherit;
}

.level1 {
	transform: translateX(0);
	z-index: 2;
}

.level2 {
	transform: translateX(100%);
	z-index: 1;
}

.level1.hidden {
	transform: translateX(-100%);
}

.level2.active {
	transform: translateX(0);
	z-index: 3;
}

.level1,
.level2 {
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

.nav-item,
.back-button {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	padding: 24px;
	margin: 0 auto;
	background-color: transparent;
	font-size: 20px;
	color: #fff;
	border: none;
	cursor: pointer;
	text-align: center;
	transition: 0.3s;
	font-family: 'Ubuntu', serif !important;
	text-transform: uppercase;
}

.back-button svg {
	fill: var(--intro-font-color);
	width: 48px;
	height: 48px;
}

.nav-item a {
	width: 100%;
}

.nav-item a,
.nav-item:hover {
	color: #fff;
}

.nav-item:hover,
.back-button:hover,
.nav-item a:hover {
	color: var(--highlight-color);
}

.sidebar ul {
	list-style-type: none;
	padding: 0;
}

.sidebar li {
	padding: 24px;
}

.sidebar-icon {
	font-size: 16px;
}

.menu-button-wrapper {
	display: flex;
	justify-content: flex-end;
	position: relative;
	width: 100%;
	max-width: var(--max-container-width);
}

#menu-btn {
	position: absolute;
	top: 32px;
	right: 8px;
	z-index: 2501;
	color: var(--highlight-color);
}

#backdrop {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 500px;
	min-height: 100vh;
	background: rgba(0, 0, 0, 0.7);
	backdrop-filter: blur(5px);
	z-index: 2499;
}

/*******************/
/* Mario animation */
/*******************/

#homepage-running-mario {
	position: fixed;
	height: 60px;
	width: 50px;
	transform: translateX(-60px);
	bottom: -5px;
	overflow: hidden;
	z-index: 5;
}

#homepage-mario {
	position: absolute;
	right: -100px;
	height: 60px;
	width: 150px;
	background-color: transparent;
	cursor: pointer;
	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

/**************/
/* animations */
/**************/

.appear {
	-webkit-transition: all 0.8s;
	transition: all 0.8s;
	opacity: 0;
}

.appear:not(.static) {
	transform: translateY(20px);
}

.appear.inview {
	opacity: 1;
	transform: none;
}

.appear.delayed {
	transition-delay: 0.3s;
}

#stars-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.star {
	position: absolute;
	background-color: white;
	border-radius: 50%;
	opacity: 0.5;
	animation: twinkle linear infinite;
}

@keyframes twinkle {
	0% {
		opacity: 0.3;
		transform: scale(1);
	}
	50% {
		opacity: 1;
		transform: scale(1.2);
	}
	100% {
		opacity: 0.3;
		transform: scale(1);
	}
}

@keyframes show-title-animation {
	0% {
		opacity: 0;
		transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

/****************/
/* projects tab */
/****************/

.demo-section,
.icons-section {
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
	gap: 32px;
	justify-content: center;
	width: var(--max-container-width);
	max-width: 100%;
	margin: 0 auto 100px;
}

.demo-section .icons-wrapper {
	margin: 32px 0;
}

.demo-section img {
	border-radius: 8px;
	max-width: min(100%, var(--max-container-width));
}

.demo-section article {
	margin: 16px 0;
	text-wrap: balance;
	max-width: min(100%, var(--max-container-width));
}

.demo-section h2 {
	margin: 0;
}

/******************/
/* tech stack tab */
/******************/

.tech-stack-section {
	border: 2px solid var(--highlight-color);
	border-radius: 16px;
	padding: 32px 16px;
	text-align: left;
}

.tech-stack-section h2 {
	text-align: center;
	margin-bottom: 32px;
}

.tech-stack-section ul {
	margin-bottom: 32px;
	li {
		margin-bottom: 8px;
	}
}

/******************/
/* timeline tab */
/******************/

.timeline-section {
	width: 100%;
	max-width: var(--max-container-width);
	margin: 32px auto;
}

.timeline {
	position: relative;
	width: 100%;
	margin: 20px 0;
}

.timeline::before {
	content: '';
	position: absolute;
	left: 10px;
	top: 0;
	width: 4px;
	height: 100%;
	background: var(--highlight-color);
	border-radius: 4px;
}

.timeline-item {
	position: relative;
	padding-left: 40px;
	margin-bottom: 30px;
}

.timeline-dot {
	position: absolute;
	left: 2px;
	top: 0;
	width: 20px;
	height: 20px;
	display: block;
	background: var(--highlight-color);
	border: 1px solid black;
	border-radius: 50%;
	z-index: 8;
}

.timeline-date {
	font-size: 14px;
	color: rgba(10, 10, 10, 0.9);
	margin-bottom: 5px;
}

.timeline-content h3 {
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
}

.timeline-content li {
	color: black;
	margin-bottom: 8px;
}

/*********/
/* icons */
/*********/

.footer-icon {
	font-size: 48px;
}

.social-icon {
	transition: all 0.3s;
}

.social-icon:hover {
	transform: scale(1.1);
}

.youtube-icon {
	color: rgb(205, 32, 31);
}

.link-wrapper {
	margin-top: 24px;
	display: flex;
	gap: 16px;
}

.link-wrapper a {
	color: rgba(15, 23, 42, 1);
	transition: 0.3s;
}

.link-wrapper a:hover {
	transform: scale(1.1);
}

.link-wrapper .iconify {
	font-size: 40px;
}

.techstack-icon {
	display: flex;
	flex: 1 1 120px;
	align-items: center;
	gap: 8px;
	transition: all 0.3s;
	border: 2px solid var(--highlight-color);
	box-shadow: 0 2px 4px rgba(94, 234, 212, 0.2);
	background: linear-gradient(
		135deg,
		rgba(94, 234, 212, 0.05) 0%,
		rgba(94, 234, 212, 0.2) 100%
	);
	border-radius: 24px;
	padding: 12px 24px;
	font-size: 12px;
	color: #1a202c;
	svg {
		font-size: 20px;
	}
	div {
		margin-top: 2px;
	}
}

.contact-icons {
	display: flex;
	justify-content: center;
	gap: 16px;
	margin-top: 16px;
}

.contact-icon,
.contact-icon svg {
	height: 48px;
	width: 48px;
}

.contact-icon path {
	fill: var(--highlight-color);
}

/*****************/
/* media queries */
/*****************/

@media (min-width: 575px) {
	.intro-list-wrapper {
		padding: 32px;
	}

	.techstack-icon {
		font-size: 16px;
	}

	.icons-wrapper {
		grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	}

	.toggle-btn {
		font-weight: bolder;
	}

	.nav-item,
	.back-button {
		font-size: 24px;
	}

	.tab-headline {
		text-align: center;
	}

	.tech-stack-section {
		padding: 32px;
	}
}

@media (min-width: 1024px) {
	h1 {
		font-size: 64px;
	}

	h2 {
		font-size: 40px;
	}
}

@media (min-height: 900px) {
	.level1,
	.level2 {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}
