@font-face {
  font-family: Ubuntu;
  src: url('../assets/fonts/Ubuntu-M.ttf');
}

:root {
    --main-background-color: #fafeff;
    --intro-font-color: rgb(148, 163, 184);
    --highlight-color: rgb(94, 234, 212);
    --blue-font-color: #143a5d;
    --coral-font-color: #f73163;
}

header {
  position: relative;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

body {
  font-family: Roboto, serif;
  background: var(--main-background-color);
}

body, html {
  overflow-x: hidden;
}

button:focus {
  outline: none;
}

button:focus-visible, a:focus-visible {
  outline: 4px solid blue!important;
}

h1 {
  color: white;
  text-align: center;
  text-shadow: 4px 4px rgba(0, 0, 0, 0.4);
}

h2 {
  font-size: 2em;
  font-family: "Ubuntu", serif;
}

h3 {
  font-size: 1.5em;
}

.blue-font {
  color: var(--blue-font-color);
}

.coral-font {
  color: var(--coral-font-color);
}

.screenshot-box-shadow {
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}

#language-switch {
  position: absolute;
  top: 12px;
  right: 80px;
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 22px;
  color: var(--highlight-color);
}

#language-switch .divider-pipe {
  border: 1px solid white;
  height: 24px;
}

#language-switch .language-selector {
  cursor: pointer;
  user-select: none;
  transition: all 0.3s ease;
  color: var(--highlight-color);
  background: transparent;
  border: none;
  padding: 0;
}

#language-switch .language-selector.inactive {
  opacity: 0.4;
}

#language-switch .language-selector:hover {
  opacity: 1;
  font-weight: bold;
}

#intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Ubuntu", serif;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  min-height: 500px;
  max-width: 100vw;
  background: radial-gradient(circle, rgba(15, 23, 42, 1) 0%, rgba(1, 4, 10, 1) 50%, rgba(10, 5, 10, 1) 100%);
}

#intro h1, #scroll-arrow-div {
  opacity: 0;
  animation: show-title-animation 2s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
  text-align: left;
}

hr {
  border-color: var(--highlight-color);
}

footer {
  text-align: center;
  padding: 0.5rem;
}

#intro h2 {
  animation-delay: 1.5s;
  color: var(--intro-font-color);
  margin: 16px 0;
}

.intro-content {
  height: 100%;
}

.intro-content * {
  color: white;
  max-width: 590px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
}

.intro-content p {
  color: var(--intro-font-color);
}

@media (min-width: 1024px) {
  .intro-content * {
    max-width: 700px;
  }
}

.intro-content-wrapper {
  display: flex;
  flex-direction: column-reverse;
  gap: 2rem;
  margin: 0 1rem;
}

@media (min-width: 1024px){
  .intro-content-wrapper {
    flex-direction: row;
    max-width: 992px;
  }

  .intro-content p {
    text-wrap: balance;
    font-size: 1.2rem;
    line-height: 2rem;
  }
}

@media (min-width: 1200px){
  .intro-content-wrapper {
    max-width: 1140px;
  }
}

#scroll-arrow-div {
  animation-delay: 3s;
}

.uil,
.xing-icon {
  font-size: 2rem;
}

.icons-wrapper {
  width: 100%;
  transition: 0.3s;
}

.divider {
  margin: 3rem 0;
  border-color: transparent;
}

#menu-button {
  position: absolute;
  top: 8px;
  right: 16px;
  padding: 0 4px;
  height: 40px;
  border: none;
  background: none;
  z-index: 1;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  color: var(--highlight-color);
}

#close-button {
  position: absolute;
  top: 4px;
  right: 4px;
  padding: 5px;
  border-style: none;
  transition: all 0.3s;
  z-index: 1;
  color: var(--highlight-color);
}

#close-button:hover {
  transform: scale(1.05);
}

#close-button .uil {
  margin: 0;
}

.hidden {
  display: none;
}

#menu-button:hover {
  transform: scale(1.05);
}

#backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 500px;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  z-index: 2499
}

#homepage-running-mario {
  position: fixed;
  height: 60px;
  width: 50px;
  transform: translateX(-60px);
  bottom: -5px;
  overflow: hidden;
  z-index: 5;
}

#homepage-mario {
  position: absolute;
  right: -100px;
  height: 60px;
  width: 150px;
  background-color: transparent;
  cursor: pointer;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#scroll-arrow {
  width: 32px;
  filter: drop-shadow(1px 1px rgb(0 0 0 / 0.4));
}

#scroll-arrow:hover {
  transform: scale(1.4);
  transition: 0.5s;
}

#scroll-arrow-div {
  position: absolute;
  text-align: center;
  bottom: 12px;
}

#scroll-to-tiles-BTN {
  background: none;
  border-style: none;
  animation: arrow-animation 5s infinite linear;
  color: var(--highlight-color);
}

#scroll-back-top-BTN {
  display: none;
  background: none;
  transform: rotate(180deg);
  border-style: none;
  position: fixed;
  right: 4px;
  bottom: 6px;
  z-index: 100;
}

#scroll-arrow-up {
  display: block;
  opacity: 0.7;
  animation: arrow-animation 5s infinite linear;
  padding: 8px;
  border-radius: 8px;
}

.appear {
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  opacity: 0;
}

.appear:not(.static) {
  transform: translateY(20px);
}

.appear.inview {
  opacity: 1;
  transform: none;
}

.appear.delayed {
  transition-delay: 0.3s;
}

:not(.uil-times):not(.uil-bars).uil,
.iconify,
.xing-icon {
  font-size: 3rem;
  justify-self: center;
}

article div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items:center;
  grid-gap: 2rem;
  
  grid-row-gap: 4rem;
}

.techstack-icon {
  position: relative;
  display: inline-block;
  transition: all 0.3s; 
}

.techstack-icon::before {
  display: block;
  position: absolute;
  top: 130%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  content: attr(data-tooltip);
  transition: all 0.3s;
  opacity: 0;
  font-weight: bolder;
}

.techstack-icon:hover::before {
  opacity: 1;
}

.contact-icons {
  display: flex;
  gap: 16px;
  margin-top: 32px;
}

.contact-icon,
.contact-icon svg {
  height: 48px;
  width: 48px;
}

.contact-icon path {
  fill: var(--highlight-color);
}

@keyframes arrow-animation {
  0%, 32% {
    transform: translateY(0)
  }

  8%, 24% {
    transform: translateY(5px)
  }

  16% {
    transform: translateY(10px)
  }
}

@keyframes show-title-animation {
  0% {
    opacity: 0;
    transform: translateY(-20px)
  }

  100% {
    opacity: 1;
    transform: translateY(0px)
  }
}

@media (max-width: 575px) {
  #menu-button {
    right: 8px;
  }

  a button {
    font-size: 0.6em;
  }
}

@media (min-width: 577px) {
  article div {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: 2rem;
  }
}

@media (min-width: 769px) {
  :not(.uil-times):not(.uil-bars).uil,
  .iconify,
  .xing-icon {
    font-size: 4rem;
  }

  article div {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: 2rem;
    
    grid-row-gap: 4rem;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5em;
  }

  #logo {
    height: 80px;
  }

  hr {
    margin: 32px 0;
  }
}

@media (max-height: 400px) {
  #scroll-arrow-div {
    display: none;
  }
}



.demo-section,
.icons-section {
  display:flex; 
  gap: 1.5rem;
  max-width: 100vw; 
  padding: 0 1rem;
  margin: 7rem auto; 
  flex-direction: column;
}

.demo-section div {
  width: 100%;
}

.demo-section img {
  border-radius: 0.5rem;
  max-width: min(100%, 600px);
}

.demo-section article {
  margin: 1rem 0;
  text-wrap: balance;
  max-width: min(100%, 600px);
}

@media (min-width: 489px) {
  .demo-section {
    padding: 0 2rem;
  }
}

@media (min-width: 1200px){
  .demo-section,
  .icons-section {
    max-width: 1024px;
    margin: 12rem auto;
    flex-direction: row;
    gap: 8rem;
  }
  .demo-section div,
  .icons-wrapper {
    width: 50%;
  }
  .demo-section div:nth-child(2){
    padding-right: 2rem;
  }
}

@media (min-width: 1200px){
  .demo-section {
    max-width: 1200px;
  }
}

@media (min-width: 1400px){
  .demo-section,
  .icons-section {
    max-width: 1380px;
  }
}

@media (max-width: 1023px){
  .demo-section h3 {
    margin-top: 1rem;
  }
}

#main-content {
  scroll-margin-top: 1rem;
  margin-top: 4rem;
}

.social-icon {
  transition: all 0.3s;
}

.social-icon:hover,
.techstack-icon:hover {
  transform: scale(1.1);
}

.sidebar {
  position: fixed;
  right: 0;
  width: 280px;
  height: 100%;
  background: radial-gradient(circle, rgba(15, 23, 42, 1) 0%, rgba(1, 4, 10, 1) 50%, rgba(10, 5, 10, 1) 100%);
  border: 2px solid var(--highlight-color);
  color: #fff;
  overflow: hidden;
  z-index: 2500;
  overflow-y: auto;
  box-shadow: rgba(50, 50, 50, 0.25) 0 44px 45px, rgba(50, 50, 50, 0.12) 0 -6px 20px, rgba(50, 50, 50, 0.12) 0 2px 3px, rgba(50, 50, 50, 0.17) 0 6px 7px, rgba(50, 50, 50, 0.09) 0 -2px 4px;
}

.sidebar[data-show="false"] {
  display: none;
}

.sidebar h4 {
  color: var(--highlight-color);
  padding: 24px;
  margin: 0;
  font-size: 16px;
  font-weight: bolder;
  text-transform: uppercase;
}

.level1, .level2 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  transition: transform 0.3s ease;
}

.level2 {
  transform: translateX(100%);
}

.level2.active {
  transform: translateX(0);
}

.level1.hidden {
  transform: translateX(-100%);
}

.nav-item, .back-button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 24px;
  margin-bottom: 1px;
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
  transition: 0.3s;
}

.nav-item a, .nav-item:hover {
  color: #fff;
}

.nav-item:hover, .back-button:hover, .nav-item a:hover {
  color: var(--highlight-color);
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  padding: 24px;
}

.sidebar-icon {
  font-size: 16px;
}

@media (min-height: 750px) {
  .sidebar {
    height: 584px;
    border-radius: 16px;
    top: 16px;
    right: 16px;
  }
}

@media (min-width: 1400px) {
  .sidebar {
    right: calc(((100vw - 1400px) / 2) + 16px);
    transform: translate(0, 0);
  }
}

.link-wrapper {
  margin-top: 24px;
  display: flex;
  gap: 16px;
}

.link-wrapper a {
  color: rgba(15, 23, 42, 1);
  transition: 0.3s;
}

.link-wrapper a:hover {
  transform: scale(1.1);
}

.link-wrapper .iconify {
  font-size: 2.5rem;
}

.demo-section .used-tech-info {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  width: 100%;
}

.used-tech-element {
  background: var(--highlight-color);
  color: rgba(15, 23, 42, 1);
  padding: 8px 10px;
  border-radius: 8px;
  font-family: "Ubuntu", serif;
  font-size: 13px;
}

#chess-stats {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background: var(--highlight-color);
    color: var(--blue-font-color);
    margin: 0 auto;
    width: 320px;
    height: 320px;
    border-radius: 50%;
    font-family: 'Roboto', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    text-align: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

#chess-stats::before {
    background: var(--highlight-color);
    content: "";
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/chess-com-icon.svg);
    background-position: center center;
    background-size: 50% auto;
    background-repeat: no-repeat;
    background-blend-mode: luminosity;
    opacity: 0.2;
    z-index: 1;
}

.chess-elo {
    font-size: 20px;
    margin: 16px auto;
}

.stats-grid {
    width: 160px;
    margin: 16px auto 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.chess-stats-link {
    display: block;
    width: 320px;
    margin: 128px auto;
}

.chess-stats-link:hover {
    text-decoration: none;
}