@font-face {
  font-family: myFont;
  src: url(myFont.ttf);
}

@font-face {
  font-family: digital;
  src: url(Bitwise.ttf);
}

@font-face {
  font-family: grunge;
  src: url(Grunge.otf);
}

.row {
  margin: 0!important;
}

.card {
  margin: 0;
  padding: 0;
}

.blinking-text-div {
  display: inline-block;
  font-size: 1.8em;
  color: rgb(255,255,51,1);
  margin-left: 10px;
}




@keyframes blinktext {
  0% {opacity: 0; color: yellow; transform: scaleY(1.5);};
}


#blinking-text1 {
  text-decoration: underline;
}

#blinking-text2 {
  animation: blinktext 2s;
  animation-delay: 3s;
}

#blinking-text3 {
  animation: blinktext 2s;
  animation-delay: 5s;
}

#blinking-text4 {
  animation: blinktext 2s;
  animation-delay: 7s;
}




body {
  background-image: url("../images/background-bricks.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  font-family: myFont;
}

h1 {
  text-align: center;
}

p {
  font-size: 1.2em;
}
nav a {
  color: white;;
  font-size: 1.5em;
}

a:hover {
  color: rgb(155, 131, 103);
  text-decoration: none;
  transition: 400ms;
}

nav {
  text-align: center;
  background-color: black;
  opacity: 0.9;
}

nav li {
  display: block;
}

footer {
  background-color: black;
  margin-top: 20vh; /*trying out*/
  width: 100%;
  color: white;
  text-align: center;
  padding: 20px;
}

footer a {
  text-decoration: none;
  color: white;
  list-style: none;
}

footer li {
  list-style: none;
}

.social-icon {
  height: 3em;
  width: auto;
  filter: invert(1);
  padding: 10px;
}


.profile-pic {
width: 60vw;
display: block;
margin: auto;

}

.profile-text {
  width: auto;
  margin: 2px;
  text-align: justify;
}


.api-div {
  width: 320px;
  height: 360px;
  background-color: black;
  color: white;
  position: relative;
  margin: 10px;
}

.api-text {
  font-size: 1.1em;
  text-align: center;
  color: black;
}

.api-description {
  font-size: 1em;
  text-align: center;
}

.highlight {
  position: absolute;
  font-weight: bolder;
  padding: 10px;
  background-color: white;
  top: 40px;
  left: 0px;
  width: 100%;
}

#pacman-container {
  overflow: hidden;
};



.pac-image{
  width: 40px;
  height: 40px;
}

#pacman {
  position: absolute;
  top: 110px;
  left: 0px;
  height: 40px;
  width: 40px;
}



#pallet-1 {
  position: absolute;
  top: 110px;
  left: 30px;
}

#pallet-2 {
  position: absolute;
  top: 110px;
  left: 70px;
}

#pallet-3 {
  position: absolute;
  top: 110px;
  left: 110px;
}

#pallet-4 {
  position: absolute;
  top: 110px;
  left: 150px;
}

#pallet-5 {
  position: absolute;
  top: 110px;
  left: 190px;
}

#pallet-6 {
  position: absolute;
  top: 110px;
  left: 230px;
}

#pallet-7 {
  position: absolute;
  top: 110px;
  left: 270px;
}


.reactionBTN {
  height: 50px;
  width: 50px;
  margin: 20px;
  background-color: darkgrey;
  border-style: none;
  border-radius: 50%;
}

#random-game {
  display: none;
}

#random-text {
  display: none;
  color: white;
}

#scoreboard {
  font-size: 2em;
}

#marios-box {
  width: 200px;
  height: 160px;
  overflow: hidden;
  position: relative;
  background-color: white;
}

#mario {
  width: 600px;
  position: absolute;
  left: -2px;
  bottom: -25px;
  z-index: 1;
}

#mario-background {
  position: absolute;
  left: -400px;
  bottom: 0px;
  z-index: 0;
  width: 600px;
}

#mario-animation {
  padding: 2px;
}



#jumping-mario-animation {
  position: relative;
  height: 150px;
  width: 150px;
  background-color: black;
}

#jumping-box {
  height: 50px;
  width: 50px;
  position: absolute;
  bottom: 0px;
  left: 50px;
  overflow: hidden;
}

#jumping-mario {
  position: absolute;
  left: 0px;
  bottom: -3px;
  width: 150px;
}

#question-block {
  top: 7px;
  position: absolute;
  left: 50px;
  width: 50px;
}







.profile {
  background-color: rgb(171, 173, 175, 0.9);
  height: auto;
  width: 60%;
  margin: 20px auto;
  padding: 3%;
}

.home {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 60px;
  width: 60px;
  display: block;
  filter: invert(1);
}

.home:hover {
  transform: rotate(-45deg);
  transition: 500ms;
}




.submit-button {
  width: 100px;
  border-radius: 20px;
  border-style: none;
  box-shadow: 0.5px 3px black;
  background-color: #0F6E11;
  color: white;
  padding: 10px;
}

.submit-button:hover {
  box-shadow: 1px -2px black;
  transition: 500ms;
  background-color: rgb(190,190,190);
}

#hamburger {
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: rgb(0,0,0,0.7);
  padding: 5px;
  z-index: 3000;
  display: none;
  border-style: none;
}

.line1, .line2, .line3 {
  width: 40px;
  height: 5px;
  margin: 10px;
  background-color: white;
}


#burger-menu {

  position: fixed;
  background-color: #2f2f2f;
  opacity: 0.99;
  left: 0px;
  top: 0px;
  padding: 120px 50px;
  z-index: 2000;
  display: none;
  height: 100vh;
  overflow-y: auto;
}

#burger-menu a {
  text-decoration: none;
  color: white;
  font-size: 1.3em;
  list-style: none;
}

#burger-menu li {
  list-style: none;
}

hr {
  background-color: white;
}



#clock {
  background-color: black;
  color: rgb(34, 252, 40);
  font-size: 3em;
  width: 100%;
  font-family: digital;
  text-align: center;
  padding: 17px 0 10px 0;
}

#clock-description {
  width: 320px;
  background-color: black;
  color: white;
  padding: 0 10px;
}

#js-clock {
  width: 320px;
  height: 360px;
  background-color: black;
  margin: 10px;
}


.description-text {
  color: white;
  font-size: 1em;
  padding: 8px;
  text-align: justify;
}




@media (min-width: 1000px) {
  p, nav li {
    font-size: 1em;
}
}

@media (min-width: 1px) {
  .profile {
    width: 90%;
  }
  p, nav li {
    font-size: 1.2em;
  }
  nav li, .home {
    display: none;
  }
  #hamburger {
    display: block;
  }
}

@media (min-width: 900px) {
  .profile {
    width: 60%;
  }
  .blinking-text-div {
    font-size: 3em;
    margin-left: 40px;
  }
}


@media (min-width: 1300px) {
  #burger-menu {
    display: none;
  }
  p, nav li {
    font-size: 1.2em;
  }
  nav li, .home {
  display: block;
  }
  #hamburger {
    display: none;
  }
  #cookies {
    width: 80%;
    height: 40%;
    left: 10%;
  }
}
