@font-face {
  font-family: myFont;
  src: url(myFont.ttf);
}

@font-face {
  font-family: digital;
  src: url(Bitwise.ttf);
}

@font-face {
  font-family: grunge;
  src: url(Grunge.otf);
}

@font-face {
  font-family: Ubuntu;
  src: url(Ubuntu-M.ttf);
}


h1 {
  color: white;
  font-size: 2.4em;
  text-align: center;
}

.row {
  margin: 0 !important;
}

.card {
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  width: 100%;
}


body {
  font-family: "Roboto";
}

body, html {
  overflow-x: hidden;
}

h2 {
  text-align: center;
  color: white;
  font-size: 2em;
}

h3 {
  font-size: 2.5em;
}

#header-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Ubuntu";
  background-color: black;
  height: 100vh;
  height: -webkit-fill-available;
  height: fill-available;
  height: -moz-available;
  min-height: 360px;
  max-width: 100vw;
}

#header-image h1, #header-image h2, #scroll-arrow-div {
  opacity: 0;
  animation: show-title-animation 2s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}

footer {
  background: black;
  color: white;
  text-align: center; 
}

.profile-pic {
  width: 250px; 
  height: 250px; 
  object-fit: cover; 
  margin: 30px;
}

address {
  margin: 30px;
}

#header-image h2 {
  animation-delay: 1.5s;
}

#scroll-arrow-div {
  animation-delay: 3s;
}

.uil,
.xing-icon {
  font-size: 2rem;
}

.divider {
  margin: 5rem 0;
  border-color: transparent;
}

.header-content {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%)
}

.social-icon {
  height: 3.2em;
  width: auto;
  margin: 20px;
}

.social-icon:hover {
  filter: invert(0.2);
  transform: scale(1.1);
  transition: 0.5s;
}

.index-icon {
  filter: invert(1);
  width: 80%;
}

.index-button {
  background-color: rgb(0, 0, 0, 0.7);
  color: white;
  border-style: none;
  padding: 20px;
  width: 180px;
  height: 250px;
}

.index-button:hover {
  background-color: rgb(80, 40, 10, 0.99);
  transition: 0.5s;
  transform: scale(1.1);
}

#home-tile-image img {
  width: 100vw;
  max-width: 500px;
}

#about-tile {
  width: 100vw;
  max-width: 540px;
  color: black;
  padding: 20px;
  margin: 10px auto;
}


.index-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100vw;
  padding-top: 30px;
  margin: 0 auto;
}

.index-content-tile,
.info-content-tile {
  width: 600px;
  max-width: 100vw;
  height: 400px;
  transition: 0.3s;
}

.index-content-tile h2 {
  opacity: 0;
}

.index-content-tile:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 1s ease;
}

.index-content-tile:hover:after {
  background: rgba(0, 0, 0, 0.4);
}

.index-content-tile:hover h2 {
  opacity: 1;
  transition: 1s ease;
}


.big-heading {
  color: white;
  font-size: 48pt;
}

.big-subheading {
  color: white;
  font-size: 36pt;
}


.submit-button {
  min-width: 100px;
  border-radius: 20px;
  border-style: none;
  box-shadow: 0.5px 3px black;
  background-color: #0F6E11;
  color: white;
  padding: 10px;
}

#hamburger {
  position: absolute;
  top: 8px;
  right: 16px;
  padding: 5px;
  border-style: none;
  background: none;
  z-index: 1;
}

#close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 5px;
  border-style: none;
}

#close-button .uil {
  margin: 0;
}

.hidden {
  display: none;
}

#hamburger:focus {
  outline: none;
}

.line1, .line2, .line3 {
  width: 40px;
  height: 6px;
  margin: 8px;
  background-color: white;
  border-radius: 20px;
}



#burger-menu {

  position: fixed;
  background-color: white;
  opacity: 0.99;
  right: -100%;
  top: 0px;
  padding: 50px 0;
  z-index: 2500;
  height: 500px;
  min-height: 100vh;
  border-left: 1px solid black;
  transition: 0.5s;
}

#burger-menu ul {
  overflow-y: auto;
  height: 100%;
}

#burger-menu a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  transition: 0.5s;
}

#burger-menu li {
  list-style: none;
  width: 300px;
  max-width: 60vw;
  padding: 1.5rem 1rem;
  transition: 0.5s;
}

#burger-menu li:hover a {
  font-weight: 900;
}

#backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 500px;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 2499
}

.nav-line {
  background-color: white;
  margin: 0;
}


#homepage-running-mario {
  position: fixed;
  height: 60px;
  width: 50px;
  left: -60px;
  bottom: -5px;
  overflow: hidden;
  z-index: 5;
}

#homepage-mario {
  position: absolute;
  right: -100px;
  height: 60px;
  width: 150px;
  background-color: none;
  cursor: pointer;
}



#scroll-arrow {
  width: 32px;
}

#scroll-arrow:hover {
  transform: scale(1.4);
  transition: 0.5s;
}

#scroll-arrow-div {
  position: absolute;
  text-align: center;
  bottom: 12px;
}


#scroll-to-tiles-BTN {
  background: none;
  border-style: none;
  animation: arrow-animation 5s infinite linear;
  outline: none;
}

#scroll-to-tiles-BTN:focus {
  outline: none;
}

#scroll-back-top-BTN {
  display: none;
  background: none;
  transform: rotate(180deg);
  border-style: none;
  position: fixed;
  right: 0;
  bottom: 6px;
  z-index: 100;
}

#scroll-arrow-up {
  width: 48px;
  height: 48px;
  background-color: white;
  opacity: 0.7;
  animation: arrow-animation 5s infinite linear;
  padding: 8px;
  border-radius: 8px;
}



.description-text {
  color: white;
  font-size: 1em;
  padding: 8px;
  text-align: justify;
}

.appear {
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.appear.inview {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.appear.delayed {
  transition-delay: 0.3s;
}

:not(.uil-times):not(.uil-bars).uil,
  .iconify,
  .xing-icon {
    font-size: 4rem;
    margin: 1.5rem 1.5rem;
    justify-self: center;
  }

  article div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }


@keyframes arrow-animation {
  0% {
    transform: translateY(0)
  }

  8% {
    transform: translateY(10px)
  }

  16% {
    transform: translateY(20px)
  }

  24% {
    transform: translateY(10px)
  }

  32% {
    transform: translateY(0)
  }
}

@keyframes show-title-animation {
  0% {
    opacity: 0;
    transform: translateY(-20px)
  }

  100% {
    opacity: 1;
    transform: translateY(0px)
  }
}

@keyframes scaleToFullsize {
  100% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}


@media (max-width: 575px) {

  .index-container {
    width: 100%;
    margin: 0;
  }

  #header-image {
    position: relative;
    overflow-x: hidden;
  }

  #hamburger {
    top: 6px;
    right: 0
  }

  #homepage-CTA-BTN {
    margin-bottom: 10px;
  }

  .index-content-tile h2 {
    opacity: 1;
  }

  .info-content-tile svg {
    font-size: 4rem;
    margin: 1.5rem 1rem;
    justify-self: center;
  }


  .index-button {
    width: 108px;
    height: 150px;
    margin: 10px 0;
  }

  a button {
    font-size: 0.6em;
  }

  address,
  .profile-pic {
    width: 200px;
  }

  .profile-pic {
    height: 200px;
  }

}

@media (min-width: 577px) {
  article div {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 769px) {
  :not(.uil-times):not(.uil-bars).uil,
  .iconify,
  .xing-icon {
    font-size: 4rem;
    margin: 1.5rem 1.5rem;
  }

  article div {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 52pt;
  }

  h2 {
    font-size: 42pt;
  }

  #logo {
    height: 80px;
  }
}

@media (max-width: 1199px) {
  .info-content-tile {
    height: auto;
  }
}

@media (max-height: 400px) {
  #scroll-arrow-div {
    display: none;
  }
}