@font-face {
  font-family: myFont;
  src: url(myFont.ttf);
}

body {
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: myFont;
}

@media (min-width: 480px) {
  p {
    font-size: 1.5em;
  }
}

@media (min-width: 900px) {
  p {
    font-size: 1em;
}
}

nav a {
  color: rgb(44, 42, 43);
  font-size: 1.5em;
}

a:hover {
  color: rgb(155, 131, 103);
  text-decoration: none;
  transition: 400ms;
}

nav {
  text-align: center;
  margin-bottom: 2vh;
}

footer {
  background-color: rgb(37, 48, 58);
  /*position: fixed;
  bottom: 0;
  left: 0;*/
  margin-top: 20vh; /*trying out*/
  width: 100%;
  color: white;
  text-align: center;
  padding: 40px;
}

footer a {
  text-decoration: none;
  color: white;
  list-style: none;
}

footer li {
  list-style: none;
  padding: 1%;
}

.social-icon {
  height: 3em;
  width: auto;
  filter: invert(1);
  padding: 10px;
}


.profile-pic {
width: 100%;
display: block;
margin: auto;

}

.profile-text {
  width: auto;
  margin: 20px auto;
  text-align: justify;
}

.profile {
  background-color: rgb(171, 173, 175, 0.7);
  border-radius: 20px;
  height: auto;
  width: 60%;
  margin: 20px auto;
  padding: 3%;
}

.home {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 60px;
  width: 60px;
}

.home:hover {
  transform: rotate(-45deg);
  transition: 500ms;
}

#cookies {
  position: absolute;
  bottom: 0;
  background: rgb(211, 211, 211);
  font-size: 1.5em;
  width: 90%;
  height: 400px;
  margin: 0 5%;
  padding: 30px;
}

.x-button {
  position: relative;
  float: right;
  top: -30px;
  right: -30px;
  background: darkgrey;
  color: white;
  border: 1px solid darkgrey;
  font-size: 2em;
  padding: 0 10px;
}

.submit-button {
  width: 100px;
  border-radius: 5px;
  border-style: none;
  box-shadow: 0.5px 3px black;
  background-color: rgb(230,230,230);
}

.submit-button:hover {
  box-shadow: 1px -2px black;
  transition: 500ms;
  background-color: rgb(190,190,190);
}
