
@font-face {
  font-family: myFont;
  src: url(myFont.ttf);
}

body {
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  font-family: myFont;
}

h1 {
  text-align: center;
}

p {
  font-size: 1.2em;
}
nav a {
  color: rgb(44, 42, 43);
  font-size: 1.5em;
}

a:hover {
  color: rgb(155, 131, 103);
  text-decoration: none;
  transition: 400ms;
}

nav {
  text-align: center;
}

nav li {
  display: block;
}

footer {
  background-color: rgb(37, 48, 58);
  margin-top: 20vh; /*trying out*/
  width: 100%;
  color: white;
  text-align: center;
  padding: 20px;
}

footer a {
  text-decoration: none;
  color: white;
  list-style: none;
}

footer li {
  list-style: none;
}

.social-icon {
  height: 3em;
  width: auto;
  filter: invert(1);
  padding: 10px;
}


.profile-pic {
width: 60vw;
display: block;
margin: auto;

}

.profile-text {
  width: auto;
  margin: 2px;
  text-align: justify;
}

.profile {
  background-color: rgb(171, 173, 175, 0.7);
  border-radius: 20px;
  height: auto;
  width: 60%;
  margin: 20px auto;
  padding: 3%;
}

.home {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 60px;
  width: 60px;
  display: block;
}

.home:hover {
  transform: rotate(-45deg);
  transition: 500ms;
}

#cookies {
  position: absolute;
  bottom: 0;
  background: rgb(211, 211, 211);
  font-size: 1.5em;
  width: 90%;
  height: 550px;
  margin: 0 5%;
  padding: 30px;
}

.x-button {
  position: relative;
  float: right;
  top: -30px;
  right: -30px;
  background: darkgrey;
  color: white;
  border: 1px solid darkgrey;
  font-size: 2em;
  padding: 0 10px;
}

.submit-button {
  width: 100px;
  border-radius: 5px;
  border-style: none;
  box-shadow: 0.5px 3px black;
  background-color: rgb(230,230,230);
}

.submit-button:hover {
  box-shadow: 1px -2px black;
  transition: 500ms;
  background-color: rgb(190,190,190);
}

#hamburger {
  position: fixed;
  top: 30px;
  left: 30px;
  background-color: rgb(0,0,0,0.7);
  padding: 5px;
  z-index: 3000;
  display: none;
}

.line1, .line2, .line3 {
  width: 40px;
  height: 5px;
  margin: 10px;
  background-color: white;
}


#burger-menu {

  position: fixed;
  background-color: grey;
  left: 0px;
  top: 0px;
  padding: 150px 50px;
  z-index: 2000;
  display: none;
}

#burger-menu a {
  text-decoration: none;
  color: white;
  font-size: 2em;
  list-style: none;
}

#burger-menu li {
  list-style: none;
}

#fname, #lname, #company, #message, #email {
  padding: 10px;
}

@media (min-width: 1px) {
  p, nav li {
    font-size: 1.5em;
  }
}

@media (min-width: 1000px) {
  p, nav li {
    font-size: 1em;
}
}

@media (min-width: 1px) {
  .profile {
    width: 90%;
  }
}

@media (min-width: 900px) {
  .profile {
    width: 60%;
  }
}

@media (min-width: 1px) {
  nav li, .home {
    display: none;
  }
}

@media (min-width: 800px) {
  nav li, .home {
    display: block;
  }
}

@media (min-width: 801px) {
  p, nav li {
    font-size: 1.2em;
}
}

@media (min-width: 1px) {
  #hamburger {
    display: block;
  }
}

@media (min-width: 801px) {
  #hamburger {
    display: none;
  }
}
