@font-face {
  font-family: "retro";
  src: url('../assets/fonts/joystix.ttf');
}

html,
body {
  background-color: black;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
  /*preventing text selecting in mobile view*/
  overscroll-behavior-y: contain;
  /*preventing scroll reload in mobile view */
}

* {
  font-family: retro, serif;
}

nav a {
  color: white;
  font-size: 1em;
  background-color: black;
  border-radius: 20px;
}

a:hover {
  color: rgb(155, 131, 103);
  text-decoration: none;
  transition: 400ms;
}

nav {
  text-align: center;
  margin-bottom: 5vh;
}

canvas {
  display: none;
  margin: 0 auto ;
  border: 5px solid white;
}

input[type="radio"] {
  transform: scale(1.5);
}


.black-box {
  width: 100%;
  height: 110%;
  background-color: black;
  margin: 0 auto;
}

article {
  color: white;
  text-align: justify;
  font-size: 1.2em;
  padding: 0 16px;
  max-width: 816px;
  margin: 16px auto 32px;
}

h1 {
  color: white;
  text-align: center;
  margin-top: 0;
}

.controls {
  display: block;
  text-align: center;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

#sound-button {
  display: block;
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 3.2em;
  background-color: rgb(0,0,0,0.7);
  border-style: none;
  padding: 10px 12px 12px 12px;
}

#start-button,
#start-button-2p {
  background: orange;
}

#start-button,
#start-button-2p,
#settings-button {
  border-radius: 20px;
  padding: 12px;
  font-size: 1.2em;
  border-style: none;
  display: block;
  transition: .3s;
  margin: 2rem auto;
  min-width: 300px;
}

#start-button:hover,
#start-button-2p:hover,
#settings-button:hover,
.dialog-buttons button:hover {
  background-color: white;
  color: red;
  transform: scale(1.1);
}

dialog h2 {
  margin: 0 0 32px;

  text-align: center;
}

dialog {
  padding: 2rem;
  border-radius: 1rem;
}

.dialog-buttons {
  display: flex;
  justify-content: end;
  gap: 16px;
  margin-top: 32px;
}

.dialog-buttons button {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.option-input {
  width: 80px;
  accent-color: black;
}

#volume-control {
  display: flex;
  align-items: center;
  gap: 8px;
  right: 32px;
  bottom: 32px;
  width: 248px;
  color: white;
}

.volume-item {
  width: 22px;
  min-width: 22px;
  max-width: 22px;
  text-align: center;
}

#github-link {
  background: white;
  border-radius: 8px;
  position: fixed;
  height: 32px;
  right: 32px;
  bottom: 32px;
  padding: 8px;
}

.wrapper {
  max-width: 816px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}

.crt {
  position: relative;
}

.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}