body {
  background-image: linear-gradient(to bottom, darkred, black);
  background-size: cover;
  background-repeat: no-repeat;
}

nav a {
  color: white;
  font-size: 1.5em;
  background-color: black;
  border-radius: 20px;
}

a:hover {
  color: rgb(155, 131, 103);
  text-decoration: none;
  transition: 400ms;
}

nav {
  text-align: center;
  margin-bottom: 5vh;
}

canvas {
  display: block;
  margin: /*-400px*/50px auto 0px auto;
  padding-top: -100px;
}

.scoreboard {
 	margin: 200px auto;
  position: absolute;
	display: inline-block;
}

#Score1 {
	float: left;
	margin-left: -75px;
	padding-right: 20px;
  font-size: 50;
  font-weight: bold;
  color: white;
}

#Score2 {
	float: left;
	padding-left: 20px;
  font-size: 50;
  font-weight: bold;
  color: white;
}
