@font-face {
  font-family: "retro";
  src: url('../assets/fonts/joystix.ttf');
}

html,
body {
  background-color: black;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /*preventing text selecting in mobile view*/
  overscroll-behavior-y: contain;
  /*preventing scroll reload in mobile view */
}

* {
  font-family: retro;
}

nav a {
  color: white;
  font-size: 1em;
  background-color: black;
  border-radius: 20px;
}

a:hover {
  color: rgb(155, 131, 103);
  text-decoration: none;
  transition: 400ms;
}

nav {
  text-align: center;
  margin-bottom: 5vh;
}

canvas {
  display: none;
  margin: 0px auto ;
  border: 5px solid white;
}

input[type="radio"] {
  transform: scale(1.5);
}


.black-box {
  width: 100%;
  height: 110%;
  background-color: black;
  margin: 0px auto;
}

article {
  color: white;
  text-align: justify;
  font-size: 1.2em;
  padding: 0 30px;
  max-width: 700px;
  margin: 10px auto;
}

#game-settings {
  margin: 3rem auto;
}

h2 {
  color: white;
  text-align: center;
  margin-top: 3rem;
}


#hamburger {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: rgb(0,0,0,0.7);
  padding: 5px;
  z-index: 3000;
  border-style: none;
}

.line1, .line2, .line3 {
  width: 40px;
  height: 5px;
  margin: 10px;
  background-color: white;
}


#burger-menu {

  position: fixed;
  background-color: black;
  opacity: 0;
  right: 0px;
  top: 0px;
  padding: 120px 50px;
  z-index: 2000;
  height: 0;
  overflow-y: auto;
  border-left: 1px solid white;
  transition: 0.5s;
}

hr {
  background-color: white;
}


#burger-menu a {
  text-decoration: none;
  color: white;
  font-size: 1.4em;
  list-style: none;
}

#burger-menu li {
  list-style: none;
}

.nav-line {
  background-color: white;
  height: 2px;
}



#logo {
  position: absolute;
  top: 8px;
  left: 8px;
  height: 80px;
  filter: invert(1);
  z-index: 1;
}


.controls {
  display: block;
  text-align: center;
}


#sound-button {
  display: block;
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 3.2em;
  background-color: rgb(0,0,0,0.7);
  border-style: none;
  padding: 10px 12px 12px 12px;
}

#start-button {
  border-radius: 20px;
  padding: 12px;
  font-size: 1.2em;
  border-style: none;
  display: block;
  transition: .3s;
  margin: 3rem auto;
}

#start-button:hover {
  background-color: white;
  color: red;
  transform: scale(1.1);
}

.option-input {
  width: 80px;
}

