@font-face {
	font-family: 'retro';
	src: url('../assets/fonts/joystix.ttf');
}

body {
	font-family: retro, serif;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	/*preventing text selecting in mobile view*/
	overscroll-behavior-y: contain;
	/*preventing scroll reload in mobile view */
	background-color: black;
	max-height: 100vh;
}

canvas {
	position: relative;
	transition: 0.5s;
	border: 1px solid white;
	border-radius: 8px;
	filter: blur(1px);
}

#canvas-wrapper {
	position: relative;
	width: 100%;
	height: 600px;
	display: flex;
	justify-content: center;
	transition: 0.5s;
	margin-top: 64px;
}

form {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translateX(-50%);
	background-color: black;
	color: #5eead4;
}

input {
	font-family: retro, serif;
	display: none;
	text-align: center;
	margin: 0 auto;
	width: 200px;
	background-color: black;
	color: #5eead4;
	font-size: 24px;
	border: 0;
	outline: 0;
	caret-color: transparent;
	filter: blur(1px);
}

input::placeholder {
	color: #5eead4;
	font-size: 24px;
}

#github-link {
	background: transparent;
	border-radius: 8px;
	height: 48px;
	position: fixed;
	right: 8px;
	bottom: 8px;
	padding: 8px;
}

.crt {
	position: relative;
	filter: contrast(1.2) brightness(1.1);
}

.crt::before {
	content: ' ';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background:
		linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
		linear-gradient(
			90deg,
			rgba(255, 0, 0, 0.06),
			rgba(0, 255, 0, 0.02),
			rgba(0, 0, 255, 0.06)
		);
	z-index: 2;
	background-size:
		100% 2px,
		3px 100%;
	pointer-events: none;
}

@keyframes flicker {
	0% {
		opacity: 0.27861;
	}
	5% {
		opacity: 0.34769;
	}
	10% {
		opacity: 0.23604;
	}
	15% {
		opacity: 0.10626;
	}
	20% {
		opacity: 0.18128;
	}
	25% {
		opacity: 0.10626;
	}
	30% {
		opacity: 0.18128;
	}
	35% {
		opacity: 0.23604;
	}
}

.crt::after {
	content: ' ';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(18, 16, 16, 0.1);
	opacity: 0;
	z-index: 2;
	pointer-events: none;
	animation: flicker 0.15s infinite;
}

@media (max-width: 1100px) {
	h2 {
		width: 60%;
	}
}

@media (max-width: 600px) {
	h2 {
		background: none;
	}
}

@media (min-width: 1200px) and (min-height: 1200px) {
	.game-wrapper {
		zoom: 1.5;
	}
}

#stars-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.star {
	position: absolute;
	background-color: white;
	border-radius: 50%;
	opacity: 0.5;
	animation: twinkle linear infinite;
}

@keyframes twinkle {
	0% {
		opacity: 0.3;
		transform: scale(1);
	}
	50% {
		opacity: 1;
		transform: scale(1.2);
	}
	100% {
		opacity: 0.3;
		transform: scale(1);
	}
}
