@font-face {
  font-family: "retro";
  src: url(joystix.ttf);
}

body {
  background-image: url("../images/space.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: retro;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /*preventing text selecting in mobile view*/
  overscroll-behavior-y: contain;
  /*preventing scroll reload in mobile view */
  background-color: black;
  max-height: 100vh;
}

canvas {
  position: relative;
  transition: 0.5s;
}

#canvas-wrapper {
  width: 100%; 
  height: 600px;
  display: flex;
  justify-content: center;
  transition: 0.5s;
}

form {
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: limegreen;
}

input {
  font-family: retro;
  display: none;  
  text-align: center; 
  margin: 0 auto; 
  width: 200px; 
  background-color: black; 
  color: limegreen; 
  font-size: 24px; 
  border: 0; 
  outline: 0
}

input::placeholder {
  color: limegreen;
  font-size: 24px;
}

p {
  margin-top: 8px;
}

#hamburger {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: transparent;
  padding: 4px;
  z-index: 3000;
  display: block;
  border-style: none;
}

.line1, .line2, .line3 {
  width: 40px;
  height: 4px;
  margin: 10px;
  background-color: white;
}

#burger-menu {
  position: fixed;
  background-color: black;
  opacity: 0;
  right: 0px;
  top: 0px;
  padding: 100px 60px 100px 0px;
  z-index: 2000;
  height: 0;
  overflow-y: auto;
  transition: 0.5s;
}

#burger-menu a {
  text-decoration: none;
  color: white;
  font-size: 1.3em;
  list-style: none;
}

#burger-menu li {
  list-style: none;
  padding: 8px;
}

.nav-line {
  background-color: white;
  height: 2px;
}

#logo {
  position: absolute;
  top: 8px;
  left: 8px;
  height: 80px;
  filter: invert(1);
  z-index: 1;
}

article {
  color: white;
  text-align: justify;
  font-size: 1.2em;
  width: 400px;
  height: calc(600px - 2rem);
  background: black;
  color: limegreen;
  padding: 1rem;
}

h2 {
  font-family: retro;
  color: white;
}

#startButton {
  font-family: retro;
  background-Color: black;
  color: white;
  font-size: 1.5em;
  padding: 10px;
  width: 400px;
}

#sound-button {
  display: block;
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 3em;
  background-color: rgb(0, 0, 0, 0.7);
  border-style: none;
  padding: 2px 4px 4px 4px;
}

#description {
  display: block;
}

@media (max-width: 1100px) {
  h2 {
    width: 60%;
  }
}

@media (max-width: 600px) {
  h2 {
    background: none;
  }
  #logo {
    height: 58px;
  }
  #hamburger {
    top: 6px;
    right: 6px;
  }
}

@media (max-width: 1199px) {
  article {
    display: none;
  }
}