@font-face {
    font-family: pixelFont;
    src: url("../assets/fonts/joystix.ttf")
}


html,
body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*preventing text selecting in mobile view*/
    overscroll-behavior-y: contain;
    /*preventing scroll reload in mobile view */
    background-color: black;
    font-family: pixelFont, serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

@media (min-width: 800px) and (min-height: 800px) {
    .game-wrapper {
        zoom: 1.5;
    }
}

canvas {
    display: block;
}

.canvas-wrapper {
    position: relative;
    width: 400px;
    height: 400px;
    margin: 0 auto;
}

#damage-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: red;
    opacity: 0;
    transition: 0.35s;
}

h1 {
    font-family: pixelFont, serif;
    text-align: center;
    color: white;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
}

#touch-BTN-start {
    border: 1px solid white;
    padding: 20px;
    color: white;
    font-family: pixelFont, serif;
    background-color: transparent;
    transition: 0.3s;
}

#touch-BTN-start:hover {
    background-color: white;
    color: black;
    transform: scale(1.1);
}

#volume-control {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 32px auto;
    width: 248px;
    color: white;
}

.volume-item {
    width: 22px;
    min-width: 22px;
    max-width: 22px;
    text-align: center;
}